@font-face {
  font-family: 'RF Dewi';
  src: url('RFDewi-Regular.eot');
  src: local('RF Dewi Regular'), local('RFDewi-Regular'),
  url('RFDewi-Regular.eot?#iefix') format('embedded-opentype'),
  url('RFDewi-Regular.woff2') format('woff2'),
  url('RFDewi-Regular.woff') format('woff'),
  url('RFDewi-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RF Dewi';
  src: url('RFDewi-Semibold.eot');
  src: local('RF Dewi Semibold'), local('RFDewi-Semibold'),
  url('RFDewi-Semibold.eot?#iefix') format('embedded-opentype'),
  url('RFDewi-Semibold.woff2') format('woff2'),
  url('RFDewi-Semibold.woff') format('woff'),
  url('RFDewi-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'RF Dewi';
  src: url('RFDewi-Bold.eot');
  src: local('RF Dewi Bold'), local('RFDewi-Bold'),
  url('RFDewi-Bold.eot?#iefix') format('embedded-opentype'),
  url('RFDewi-Bold.woff2') format('woff2'),
  url('RFDewi-Bold.woff') format('woff'),
  url('RFDewi-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'RF Dewi';
  src: url('RFDewi-Light.eot');
  src: local('RF Dewi Light'), local('RFDewi-Light'),
  url('RFDewi-Light.eot?#iefix') format('embedded-opentype'),
  url('RFDewi-Light.woff2') format('woff2'),
  url('RFDewi-Light.woff') format('woff'),
  url('RFDewi-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'RF Dewi';
  src: url('RFDewi-Ultrabold.eot');
  src: local('RF Dewi Ultrabold'), local('RFDewi-Ultrabold'),
  url('RFDewi-Ultrabold.eot?#iefix') format('embedded-opentype'),
  url('RFDewi-Ultrabold.woff2') format('woff2'),
  url('RFDewi-Ultrabold.woff') format('woff'),
  url('RFDewi-Ultrabold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}